/*Content CSS*/

/*Title CSS*/
.c_title{
	margin-bottom: 50px;

	text-align: center;
}
	.c_t_title{
		font-size: 40px;
		font-weight: 700;
	}
	.c_t_sub{
		margin: 4px 8px;

		font-size: 20px;
		font-weight: 400;
		color: #828282;
	}

/*Side Title CSS*/
.c_stitle{
	margin: 28px 0px 20px 0px;

	text-align: left;
}
	.c_st_title{
		font-size: 36px;
		font-weight: 700;
	}
	.c_st_sub{
		font-size: 20px;
		font-weight: 400;
		color: #828282;
	}

/*Notice Line CSS*/
.c_nline{
	margin: 20px 0px;

	/*font-family: Lato;*/
	text-align: center;
	font-style: italic;
	font-size: 17px;
	line-height: 26px;
}

/*Paragraph CSS*/
.c_para{
	margin: 20px 0px;

	/*font-family: Lato;*/
	font-size: 17px;
	line-height: 26px;
}

/*Indented Paragraph CSS*/
.c_ipara_w{
	margin: 8px 0px;
	border: 1px solid #fcfcfc;
	padding: 0px 16px;
}
.c_ipara_w:hover{
	background-color: #fff;
	border-color: #000;
}
	.c_ipara{
		margin: 16px 0px;
		text-indent: 20px;

		/*font-family: Lato;*/
		font-size: 17px;
		line-height: 26px;
	}
	.c_ipara_n{
		float: right;
		margin: -28px -4px;
		text-indent: 20px;

		font-size: 17px;
		color: #e4e4e4;
	}

/*Titled Paragraph CSS*/
.c_tpara{
	margin: 20px 0px;

	text-align: left;
}
	.c_tp_title{
		font-size: 24px;
		font-weight: 700;
	}
	.c_tp_para{
		margin: 0px 0px 0px 0px;

		/*font-family: Lato;*/
		font-size: 17px;
		line-height: 26px;
	}

/*In-Paragraph List CSS*/
.c_ilist{
	margin: 0px 0px 8px 0px;
	text-indent: 0px;
}
	.c_il_item{
		/*font-family: Lato;*/
		font-size: 17px;
		line-height: 26px;
	}

/*Link List CSS*/
.c_linklist{
	margin: 20px 0px;

	text-align: left;
}
	.c_ll_title{
		font-size: 24px;
		font-weight: 700;
	}
	.c_ll_list{
		margin: 0px 0px 8px 0px;
	}
		.c_ll_item{
			/*font-family: Lato;*/
			font-size: 17px;
			line-height: 26px;
		}

/*Stub CSS*/
.c_stubs{
	overflow: hidden;
	margin: 10px 0px;
}
.c_stub{
	overflow: hidden;
	float: left;
	margin: 5px 19px;
	padding: 8px 24px;
	width: 712px;
	border: 1px solid #fcfcfc;

	transition: all ease-in-out 0.1s;
}
.c_stub:hover{
	background-color: #fff;
	border-color: #000;
}
	.c_s_date{
		float: right;
		height: 22px;
		margin: 14px 0px;

		text-align: right;
		font-size: 18px;
		font-weight: 700;
	}
	.c_s_title{
		float: left;
		height: 28px;
		margin-right: 250px;

		font-size: 24px;
		font-weight: 700;
	}
	.c_s_sub{
		float: left;
		height: 22px;
		margin-right: 50px;
		
		font-size: 18px;
		color: #828282;
	}
	.c_s_desc{
		float: left;
		margin: 10px 0px 0px 0px;

		/*font-family: Lato;*/
		font-size: 17px;
		line-height: 26px;
	}

/*Collab CSS*/
.c_collabs{
	overflow: hidden;
	margin: 10px 0px;
}
.c_collab{
	overflow: hidden;
	float: left;
	margin: 5px 19px;
	padding: 8px 24px;
	width: 712px;
	border: 1px solid #fcfcfc;

	transition: all ease-in-out 0.1s;
}
	.c_c_name{
		float: left;
		height: 28px;
		margin-right: 200px;

		font-size: 24px;
		font-weight: 700;
	}
	.c_c_sub{
		float: left;
		height: 22px;
		margin-right: 100px;
		
		font-size: 18px;
		color: #828282;
	}
	.c_c_desc{
		float: left;
		margin: 10px 0px 0px 0px;

		/*font-family: Lato;*/
		font-size: 17px;
		line-height: 26px;
	}
	.c_c_out{
		float: right;
		height: 28px;
		margin: 11px 0px;

		text-align: right;
		font-size: 18px;
		color: #828282;
	}
		.c_c_outItem{
			display: inline-block;
			margin: 0px 0px 0px 10px;
		}
	.c_c_list{
		margin: 10px 0px 0px 0px;
		padding: 0px;
		width: 600px;
		display: inline-block;
	}
		.c_c_listItem{
			/*font-family: Lato;*/
			font-size: 17px;
			line-height: 26px;
			padding: 4px 8px;
			border: 1px solid #fcfcfc;
			display: inline-block;
			margin: 0px 16px 0px 0px;
			font-weight: 700;
		}
		.c_c_listItem:hover{
			background-color: #fff;
			border-color: #000;
		}