/*Content CSS*/

/*Timer CSS*/
.c_timer{
	margin-bottom: 20px;

	text-align: center;
}
	.c_t_time{
		font-size: 40px;
		font-weight: 700;
	}

.c_mode{
	transition: all ease-in-out 0.4s;
	margin: 0px 222px 20px 222px;
	padding: 4px 8px;
	border: 2px solid #333;
	border-radius: 8px;
	font-size: 30px;
	background-color: #fff2cc;
	/*font-weight: 700;*/
}
	.c_mode:hover{
		cursor: pointer;
		border-color: #333;
		background-color: #ffe599;
	}
	.c_mode:active{
		background-color: #ffd966;
	}

/*Button CSS*/
.c_buttons{
	overflow: hidden;
	padding: 0px 192px 0px 193px;
}
	.c_button{
		transition: all ease-in-out 0.4s;
		text-align: center;
		margin: 4px;
		padding: 4px 8px;
		width: 177px;
		border: 2px solid #828282;
		border-radius: 8px;

		font-size: 30px;
		display: inline-block;
		/*font-weight: 700;*/
	}
	#start{
		border-color: #274e13;
		background-color: #d9ead3;d9ead3
	}
	#start:hover{
		background-color: #b6d7a8;93c47d
	}
	#start:active{
		background-color: #93c47d;93c47d
	}
	#stop{
		border-color: #5b0f00;
		background-color: #f4cccc;f4cccc
	}
	#stop:hover{
		background-color: #ea9999;e06666
	}
	#stop:active{
		background-color: #e06666;e06666
	}
	#reset{
		border-color: #1c4587;
		background-color: #c9daf8;c9daf8
	}
	#reset:hover{
		background-color: #a4c2f4;6d9eeb
	}
	#reset:active{
		background-color: #6d9eeb;6d9eeb
	}
	.c_button:hover{
		border-color: #333;
		cursor: pointer;
	}