<head>
	<title>Outer Ish Index | Timer</title>
</head>

<body>

	<div class='c_title'>
		<div class='c_t_title'>Timer</div>
		<div class='c_t_sub'>To keep busy</div>
	</div>

	<div class='c_mode' ng-click='timermode()'>{{timeMode}}</div>

	<div class='c_timer'>
		<div class='c_t_time'>{{time | mmss}}</div>
	</div>

	<div class='c_buttons'>
		<div class='c_button' ng-show="ticking == false" ng-click='starttimer()' id='start'>Start</div>
		<div class='c_button' ng-show="ticking == true"  ng-click='stoptimer()' id='stop'>Stop</div>
		<div class='c_button' ng-click='resettimer()' id='reset'>Reset</div>
	</div>

</body>