<head>
  <title>Femi Oladipupo</title>
</head>

<!-- About Me -->

<div class="title">
  <h1 class="title_main">About Me</h1>
  <div class="title_sub">Who am I?</div>
</div>

<p class="paragraph">
I’m Femi Oladipupo, an MIT Senior pursuing a Bachelor of Science in Computer Science and Engineering (Course 6-3) as well as a minor in Comparative Media Studies (Course CMS).
</p>
<p class="paragraph">
I have about 7 years of programming experience. I started with amateur game development projects in high school, and continued in university through coursework and undergraduate research.
</p>

<!-- Work -->

<div class="title">
  <h1 class="title_main">Work</h1>
  <div class="title_sub">Professional Experience</div>
</div>

<div class='side_title'>MIT Scheller Teacher Education Program</div>

<div class='stubs'>
  <a class='stub' ng-repeat="item in stubsStep" href={{item.link}}>
    <div class='stub_top'>
      <div class='stub_left'>
        <div class='stub_title'>{{item.title}}</div>
        <div class='stub_subtitle'>{{item.sub}}</div>
      </div>
      <div class='stub_date'>{{item.date}}</div>
    </div>
    <div class='stub_desc'>{{item.desc}}</div>
    <div class='stub_skills'>{{item.skills}}</div>
  </a>
</div>

<div class='side_title'>MIT Media Lab: Viral Communications</div>

<div class='stubs'>
  <a class='stub' ng-repeat="item in stubsViral" href={{item.link}}>
    <div class='stub_top'>
      <div class='stub_left'>
        <div class='stub_title'>{{item.title}}</div>
        <div class='stub_subtitle'>{{item.sub}}</div>
      </div>
      <div class='stub_date'>{{item.date}}</div>
    </div>
    <div class='stub_desc'>{{item.desc}}</div>
    <div class='stub_skills'>{{item.skills}}</div>
  </a>
</div>

<!-- Skills -->

<div class="title">
  <h1 class="title_main">Skills</h1>
  <div class="title_sub">Familiar Tools</div>
</div>

<div style='display:block; overflow:auto; text-align:center;'>
  <div class='columns3'>
    <div class='side_title' style='margin-top:0px;'>Software</div>
    <ul class='list'>
      <li class='list_item' ng-repeat="item in software">
        <a href={{item.link}} target="_blank">{{item.text}}</a>
      </li>
    </ul>
  </div>

  <div class='columns3'>
    <div class='side_title' style='margin-top:0px;'>Languages</div>
    <ul class='list'>
      <li class='list_item' ng-repeat="item in languages">
        <a href={{item.link}} target="_blank">{{item.text}}</a>
      </li>
    </ul>
  </div>

  <div class='columns3'>
    <div class='side_title' style='margin-top:0px;'>Frameworks+</div>
    <ul class='list'>
      <li class='list_item' ng-repeat="item in frameworks">
        <a href={{item.link}} target="_blank">{{item.text}}</a>
      </li>
    </ul>
  </div>
</div>

<!-- Courses -->

<div class="title">
  <h1 class="title_main">Courses</h1>
  <div class="title_sub">Classes taken at MIT</div>
</div>

<div style='display:block; overflow:auto;'>
  <div class='columns3'>
    <div class='side_title' style='margin-top:0px; text-align:center;'>1st Year</div>
    <ul class='list' style='width:230px; margin:0px auto;'>
      <li class='list_item' style='font-size:15px;' ng-repeat="item in courses1">
        <a href=http://student.mit.edu/catalog/search.cgi?search={{item.number}} target="_blank" title={{item.text}}>
          <span class='list_highlight'>{{item.number}}</span> {{item.text}}
        </a>
      </li>
    </ul>
  </div>

  <div class='columns3'>
    <div class='side_title' style='margin-top:0px; text-align:center;'>2nd Year</div>
    <ul class='list' style='width:230px; margin:0px auto;'>
      <li class='list_item' style='font-size:15px;' ng-repeat="item in courses2">
        <a href=http://student.mit.edu/catalog/search.cgi?search={{item.number}} target="_blank" title={{item.text}}>
          <span class='list_highlight'>{{item.number}}</span> {{item.text}}
        </a>
      </li>
    </ul>
  </div>

  <div class='columns3'>
    <div class='side_title' style='margin-top:0px; text-align:center;'>3rd Year</div>
    <ul class='list' style='width:230px; margin:0px auto;'>
      <li class='list_item' style='font-size:15px;' ng-repeat="item in courses3">
        <a href=http://student.mit.edu/catalog/search.cgi?search={{item.number}} target="_blank" title={{item.text}}>
          <span class='list_highlight'>{{item.number}}</span> {{item.text}}
        </a>
      </li>
    </ul>
  </div>
</div>

<div style='display:block; overflow:auto;'>
  <div class='columns2'>
    <div class='side_title' style='margin-top:0px; text-align:center;'>4th Year</div>
    <ul class='list' style='width:230px; margin:0px auto;'>
      <li class='list_item' style='font-size:15px;' ng-repeat="item in courses4">
        <a href=http://student.mit.edu/catalog/search.cgi?search={{item.number}} target="_blank" title={{item.text}}>
          <span class='list_highlight'>{{item.number}}</span> {{item.text}}
        </a>
      </li>
    </ul>
  </div>

  <div class='columns2'>
    <div class='side_title' style='margin-top:0px; text-align:center;'>5th Year</div>
    <ul class='list' style='width:230px; margin:0px auto;'>
      <li class='list_item' style='font-size:15px;' ng-repeat="item in courses5">
        <a href=http://student.mit.edu/catalog/search.cgi?search={{item.number}} target="_blank" title={{item.text}}>
          <span class='list_highlight'>{{item.number}}</span> {{item.text}}
        </a>
      </li>
    </ul>
  </div>
</div>