<head>
	<title>Outer Ish Index | Collaborators</title>
</head>

<body>
	<div class='c_title'>
		<div class='c_t_title'>Collaborators</div>
		<div class='c_t_sub'>Creators and Contributors</div>
	</div>

	<!-- Collaborators -->

	<div class='c_collabs'>
		<div class='c_collab' ng-repeat="item in collabs" href={{item.link}}>
			<ul class='c_c_out'>
				<li class='c_c_outItem' ng-repeat="outItem in item.outgoing"><a href={{outItem.link}} target="_blank">{{outItem.text}}</a></li>
			</ul>
			<div class='c_c_name'>{{item.name}}</div>
			<div class='c_c_sub'>{{item.sub}}</div>
			<div class='c_c_desc'>{{item.desc}}</div>
			<ul class='c_c_list'>
				<a class='c_c_listItem' ng-repeat="cont in item.list" href={{cont.link}} id={{cont.id}}>{{cont.text}}</a>
			</ul>
		</div>
	</div>
</body>